<!doctype html>
<html>

    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - jamesonhm</title>
        {% endblock %}
    </head>

    <body>
        <h1>
        <div id="logo">
            <img src="{{ url_for('static', filename='my_face.jpg') }}" alt="my face" height="150px"/>
            JamesonHM trial site
            </div>
            <hr>
        </h1>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <br>
            {% block footer %}
            &copy;Copywright 2017 by <a href='http://jamesonhm.pythonanywhere.com'>jamesonhm</a>
            {% endblock %}
        </footer>

    </body>

</html>